@font-face {
    font-family: "Roboto-Thin";
    src: url("../fonts/Roboto-Thin.ttf");
}

body {
    font-family: "Roboto-Thin", serif;
    color: #555;
    text-align: center;
}

svg {
    border: 1px solid #DDD;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
}

h1 {
    font-size: 42pt;
}

.primary {
    color: #0095EE;
}
